

html,body{
margin: 0;
}

button{
    background: transparent;
    outline: none;
    border: none;
}

.wrap{
    width: 400px;
    margin: 100px auto 0;
    -webkit-box-shadow: -4px 6px 29px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -4px 6px 29px 0px rgba(0,0,0,0.75);
    box-shadow: -4px 6px 29px 0px rgba(0,0,0,0.75);
}

.wrap .title{

    width: 100%;
    background-color: pink;

}


.wrap .title h3{
    margin: 0;
    font-size: 30px;
    text-align: center;
    padding: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif 
}

.wrap .list{

    width: 100%;
    height: 500px;
    background-color: whitesmoke;
    overflow-y: auto;

}

.text-input{
    display: block;
    width: 360px;
    height: 50px;
    padding: 0 20px 0;
    border: none;
    outline: none;
    font-size: 25px;
}

.list-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: skyblue;
    padding: 20px;

}

.btnbg{

    width: 100%;
    background-color: pink;

}

.btnbg .material-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    font-size: 30px;
    cursor: pointer;
    transition: transform 300ms ease-in;
}

.btnbg .material-icons:hover{
    transform: scale(1.1);
}

.viewIcon .material-icons{
    cursor: pointer;
    font-size: 30px;
    transition: transform 300ms ease-in;
}

.viewIcon .material-icons:hover{
    color: red;
    transform: scale(1.1);
}

